rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email in [
          "erikkxxu@gmail.com"
        ];
    }

    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /queue/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /sessions/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /history/{docId} {
      allow read, write: if isAdmin();
    }
    match /revenue/{docId} {
      allow read, write: if isAdmin();
    }
    match /notificationSettings/{docId} {
      allow read, write: if isAdmin();
    }
  }
}